@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

/* 
rolling text */

.wrapper.four {
    font-size: 3rem;
    font-family: "Play", sans-serif;
}
.four .type{
    padding: 2rem 1rem;
    width: auto;
    margin: auto;
}
.four h3 {
    width: 17ch;
    border-right: 4px solid black;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(13, end), blink-caret 0.5s step-end infinite alternate;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
}
@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}










.h1{
  text-align: center;  
  text-decoration-line: underline;
  
}
.h2{
  text-align:center;
  text-decoration-line: underline;
}
 .d1{
  overflow-x: hidden;
  background-color:bisque ;
  
}

@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }
  .a1{
    padding: 20px;
    
  }
  .b1{
    padding: 40px;
    border-radius: 1%;
   background-color:azure;  
  }
  .e1{
  
      background-image: linear-gradient(
        35deg,
        #553c9a 0%,
        #553c9a 20%,
        #b393d3 20%,
        #b393d3 40%,
        #553c9a 40%,
        #553c9a 60%,
        #b393d3 60%,
        #b393d3 80%,
        #553c9a 80%,
        #553c9a 100%
      );
    }
  
  .map-container{
    overflow:hidden;
    position:relative;
    height:0;
    
    }
   .map1{
    padding-bottom: 20px;
   }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    body{
      background:white;
    }
    
.fi{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  color: black;
}
    
.ft{
  background-color: black;
  color: black;
}

