@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');


.maindiv{
  margin: 0%;
  padding: 0%;
  background: linear-gradient(-20deg, rgb(233, 222, 250) 0%, rgb(251, 252, 219) 100%);
}



/* 
rolling text */

.wrapper.four {
    font-size: 3rem;
    font-family: "Play", sans-serif;
}

.four .head1 {
    width: 17.5ch;
    border-right: 4px solid black;
    margin: 2rem auto;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s;
}
@-webkit-keyframes typing {
    from {
        width: 0;
    }
}




.box {
  height: 455px;
  border: none; 
  position: relative;
  z-index: 0;

}

.box1:hover {
  background: linear-gradient(to top, #696fc2 0%, #fef9d7 100%);
}
.box1{
  border-radius: 5%;
  background: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
  box-shadow: 0 6px 10px rgba(0, 0, 0, .3);
  margin: 10px;
}














.h1{
  text-align: center;  
  text-decoration-line: underline;
  
}
.h2{
  text-align:center;
  text-decoration-line: underline;
}
 .d1{
  overflow-x: hidden;
  
  
}

@media screen and (min-width:992px){
    .nav-item {
    line-height:80px;
    }
  }
  .a1{
    padding: 20px;
    width: 100%;
    height: 100%;
  }
  .carousel1{
    
    border-radius: 3%;
    box-shadow: 0 8px 13px rgba(219, 51, 51, 0.3);
  }
  .b1{
    padding: 40px;
    border-radius: 2%;
    background: linear-gradient(to top, #d8ced5 0%, #fef9d7 100%);
      }

      
    .e1{  
      background-image: linear-gradient(
        45deg,
        #ffc107 0%,
        #e5d194 20%,
        #edc650 20%,
        #f3d16c 40%,
        #ffc107 40%,
        #decfa4 60%,
        #dfd7bc 60%,
        #ffc107 80%,
        #e5cd85 80%,
        #ffc107 100%
      );
      
      border-radius: 10%;
    }

    .e11{
      height: 100%;
    }
  
  .map-container{
    overflow:hidden;
    position:relative;
    height:0;
    
    }
    .map1{
      padding: 20px;
    }
   .map2{
    padding-bottom: 20px;
    border-radius: 3%;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .3);
   }
    .map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
    
    
.fi{
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
  color: black;
}
    
.ft{
  background-color: black;
  color: black;
}


















